@model SMS.ViewModel.Student.StudentViewModel
<style>
    .pdf-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 10px;
    }

        .pdf-table th, .pdf-table td {
            border: 1px solid #000;
            padding: 4px;
            text-align: center;
            word-wrap: break-word;
        }

        .pdf-table th {
            background-color: #cbf5ee;
        }

        .pdf-table td {
            max-width: 100px; /* Adjust this as needed */
        }
</style>
<div class="table-responsive">
    <p></p>
    <table class="pdf-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().StudentRegNo)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().MiddleName)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().DisplayName)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().Email)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().Gender)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().DOB)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().Address)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().ContactNo)</th>
                <th>@Html.DisplayNameFor(model => model.StudentList.First().IsEnable)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.StudentList != null && Model.StudentList.Any())
            {
                @foreach (var student in Model.StudentList)
                {
                    <tr data-student-id="@student.StudentID">
                        <td>@student.StudentRegNo</td>
                        <td>@student.FirstName</td>
                        <td>@student.MiddleName</td>
                        <td>@student.LastName</td>
                        <td>@student.DisplayName</td>
                        <td>@student.Email</td>
                        <td>@student.Gender</td>
                        <td>@student.DOB</td>
                        <td>@student.Address</td>
                        <td>@student.ContactNo</td>
                        <td>@student.IsEnable</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
