@model SMS.ViewModel.Student.StudentViewModel
<div class="table-responsive">
    <table id="studentlist" class="table table-bordered table-striped" style="text-align:center; width: 100%;">
        <thead style="text-align:center;">
            <tr>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().StudentRegNo)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().FirstName)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().MiddleName)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().LastName)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().DisplayName)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().Email)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().Gender)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().DOB)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().Address)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().ContactNo)</th>
                <th style="background-color: #cbf5ee; text-align: center;">@Html.DisplayNameFor(model => model.StudentList.First().IsEnable)</th>
                <th style="background-color: #cbf5ee;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.StudentList != null && Model.StudentList.Any())
            {
                @foreach (var student in Model.StudentList)
                {
                    <tr data-student-id="@student.StudentID">
                        <td>@student.StudentRegNo</td>
                        <td>@student.FirstName</td>
                        <td>@student.MiddleName</td>
                        <td>@student.LastName</td>
                        <td>@student.DisplayName</td>
                        <td>
                            <button class="mail-icon" data-email="@student.Email" onclick="copyDataToClipboard('@student.Email',this)">
                                <i class="bi bi-envelope"></i>
                            </button>
                            <div class="copiedMessage" style="display: none;">Copied!</div>
                        </td>
                        <td>@student.Gender</td>
                        <td>
                            @if (student.DOB.HasValue)
                            {
                                @student.DOB.Value.ToString("yyyy-MM-dd")
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                        <td>@student.Address</td>
                        <td>
                            <button class="mail-icon" data-contact="@student.ContactNo" onclick="copyDataToClipboard('@student.ContactNo', this)">
                                <i class="bi bi-telephone"></i>
                            </button>
                            <div class="copiedMessage" style="display: none;">Copied!</div>
                        </td>
                        <td>
                            <input type="checkbox" id="studentCheckbox_@student.StudentID" @(student.IsEnable ? "checked" : "")
                                   onclick="ToggleEnable(@student.StudentID, this.checked, '@student.DisplayName.Replace("'", "\\'")')" />
                        </td>
                        <td id="student-status-@student.StudentID">

                            <a class="btn" style="background-color:#cbf5ee;" href="javascript:void(0);" onclick="LoadEditPage(@student.StudentID)">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn" style="background-color:#cbf5ee;" href="#" onclick="Delete(@student.StudentID)">
                                <i class="bi bi-trash" style="color:red;"></i>
                            </a>
                            
                        </td>
                    </tr>
                }
            }
           @*  else
            {
                <tr>
                    <td colspan="12">No records found.</td>
                </tr>
            } *@ 
        </tbody>
    </table>
</div>
